@page
@using SeguimientoAcademico.App.Dominio
@model SeguimientoAcademico.App.Presentacion.Pages.IndexTutoresModel
@{
}


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

<h1>Lista de Tutores</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Telefono</th>
            <th scope="col">Genero</th>
            <th scope="col">Materia Asignada</th>
            <th scope="col">Acciones</th>

        </tr>
    </thead>

    @foreach (var p in Model.tutores)
    {
        <tr>
            <td>@p.Nombre</td>
            <td>@p.Apellido</td>
            <td>@p.Telefono</td>
            <td>@p.Genero</td>
            <td>@p.MateriaAsignada</td>



            <td>
                <div>
                    <a class="btn fas fa-edit" asp-page="/Tutores/ActuaizarTutores" asp-route-id="@p.Id"> </a>
                    <a class="btn far fa-trash-alt	" asp-page="/Tutores/EliminarTutores" asp-route-id="@p.Id"> </a>
                </div>
            </td>
        </tr>
    }
</table>

<H1><a class="btn fas fa-plus" asp-page="/Tutores/CrearTutores" title="Agregar Nuevo Tutor"> AGREGAR NUEVO
        TUTOR</a></H1>
