@page
@model SeguimientoAcademico.App.Presentacion.Pages.IndexMaestrosModel
@{
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

<h1>Lista de Maestros</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Telefono</th>
            <th scope="col">Genero</th>
            <th scope="col">Licencia Profesional</th>
            <th scope="col">Especialidad</th>
            <th scope="col">Acciones</th>

        </tr>
    </thead>

    @foreach (var p in Model.maestros)
    {
        <tr>
            <td>@p.Nombre</td>
            <td>@p.Apellido</td>
            <td>@p.Telefono</td>
            <td>@p.Genero</td>
            <td>@p.LicenciaProfesional</td>
            <td>@p.Especialidad</td>


            <td>
                <div>
                    <a class="btn fas fa-edit" asp-page="/Maestros/ActualizarMaestros" asp-route-id="@p.Id"> </a>
                    <a class="btn far fa-trash-alt	" asp-page="/Maestros/EliminarMaestros" asp-route-id="@p.Id"> </a>
                </div>
            </td>
        </tr>
    }
</table>

<H1><a class="btn fas fa-plus" asp-page="/Maestros/CrearMaestros" title="Agregar Nuevo Estudiante"> AGREGAR NUEVO MAESTRO</a></H1>
    
