@page
@model SeguimientoAcademico.App.Presentacion.Pages.Estudiantes.IndexModel
@{
}
<h1>Lista de Estudiantes</h1>

<table class = "table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Telefono</th>
            <th scope="col">Genero</th>
            <th scope="col">Ciudad</th>
        </tr>
    </thead>
   
@foreach (var p in Model.estudiantes)
    {
        <tr>
            <td>@p.Nombre</td>
            <td>@p.Apellido</td>
            <td>@p.Telefono</td>
            <td>@p.Genero</td>
            <td>@p.Ciudad</td>
        </tr>
    }
</table>

<script>

    function deshabilitar(){
        
        var p= window.prompt("ingrese el ID")

        document.getElementById("text").innerText = p; 
       
    }


</script>


<body>
    <h1 id="texto">Aqui es donde vamos a buscar</h1>
    <div>

          <button type="button" class="btn buscar" onclick="deshabilitar();">Buscar</button>
          <h2>Esto es la consulta prueba</h2>
          <p id="text">Esto es la consulta prueba</p>
          
    </div>

    <div value="Nombre es">
            
    </div>

</body>